.projectHeading{
  text-align: center;
}
.container{
  margin: 0px !important;
}
.rotate{
  animation: rotation 2s infinite linear;
}
@keyframes rotation{
  from{
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
#scene{
  height: 110% !important;
  width: 90% !important;
}
.bigContainer{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  .menu{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;

    border: 1px solid black;
    border-radius: 15px;

    margin-right: 10%;

    padding: 1%;

    .menuTitle{
      margin-top: 0px;
      margin-bottom: 20px;
      text-decoration: underline;
      text-align: center;
    }

    .menuItem{
      margin-bottom: 10px;
    }
  }
  .graph{
    width: 70%;
  }
}
.coveragePercentage{
  margin-top: 20px;
  text-align: center;
}
.startingScreen{
  display: flex;
  justify-content: center;
  align-content: center;
  .img{
    scale: .75x;
  }
}


.context{

  margin-top: 15%;
  .header{
    text-decoration: underline;
    text-align: center;
  }
  .text{
    border: 2px solid black;
    border-radius: 15px;
    text-align: center;
    margin: 0px 10%;
    padding: 15px;
    font-size: 15px;
  }

}