html, body{
    height: 100%;
}
.projectHeading{
    text-align: center;
    position: relative;
    top: 0;
}
.footer{
    height: 50px;
    margin-top: -50px;
}
.mainContent{
    width: 100%;
    height: 66%;
    display: flex;
    flex-direction: row;


    #scene{
        width: 95% !important;
        height: 95% !important;
        top: 0px !important;
        left: 0px !important;
    }

    .menu{
        border: 2px solid black;
        border-radius: 15px;
        text-align: center;
        padding: 30px;
        .infoBtn{
            cursor: pointer;
        }
        .informationSegment{
            display: flex;
            justify-content: flex-start;
        }
    }
}

.modal-content {
    background-color: #363537 !important;
 }

@media (max-width: 800px){
    .mainContent{
        flex-direction: column;
    }
    .js-plotly-plot{
        margin: 0px;
        width: 90% !important;
    }
    .menu{
        padding-top: 5px;
        margin-top: 85px;
    }
}